<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.show_sql">true</property>
        <mapping class="org.game.bot.database.models.GamesEntity"/>
        <mapping class="org.game.bot.database.models.PlayersEntity"/>


    </session-factory>
</hibernate-configuration>