<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-63-34-97-163.eu-west-1.compute.amazonaws.com:5432/dfffjmt2tbqtpp</property>
        <property name="hibernate.connection.username">wwokrrrrljnfgw</property>
        <property name="hibernate.connection.password">5cc433c8dead1711e096c9c01ac52f635ca3fece54899736ee0186a29d9db2e0</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="org.game.bot.database.models.GamesEntity"/>
        <mapping class="org.game.bot.database.models.PlayersEntity"/>
    </session-factory>
</hibernate-configuration>